<div class="top-bar container-fluid">
  <div class="header container-fluid">
       <!-- <div class="row"> -->
    <div class="left-menu nav">
      <ul>
        <li class="left-menu-1"><a href="#">Home</a></li>
        <li class="left-menu-2"><a [routerLink] = "['shop']">Shop</a></li>
        <li class="left-menu-3"><a href="#">Elements</a></li>
        <li class="left-menu-4"><a href="#">Blog</a></li>
        <li class="left-menu-5"><a href="#">Page</a></li>
      </ul>
    </div>
    <!-- left-menu -->
    <div class="logo align-self-center">
      <img src="../assets/img/logo-removebg-preview.png" alt="logo-zonex">
    </div>
    <div class="right-menu nav">
      <ul>
        <li class="right-menu-1"><a href="#"><img src="../assets/img/search-icon.png" alt="search"></a></li>
        <li class="right-menu-2"><a href="#"><img src="../assets/img/user-icon.png" alt="user"></a></li>
        <li class="right-menu-3"><a href="#"><img src="../assets/img/bag-icon.png" alt="bag"></a></li>
        <li class="right-menu-4"><a href="#"><img src="../assets/img/3-icon.png" alt="3-icon"></a></li>
      </ul>
    </div>
    <!-- right-menu -->
       <!-- </div>
-->   	</div>
  <!-- header-->
  <div class="main-caption">
    <p class="main-caption-top">Fall-Winter Clearance Sales</p>
    <p class="main-caption-bottom">All Sale Items are Final Sale / Free Shipping on ALL Orders</p>
  </div>
  <!-- main-caption -->
</div>
<!-- top-bar -->

<div class="container-fluid intro">
  <div class="card-deck">
    <div class="card jumbotron intro--card--1 col-md-4" >
      <!-- style="margin-left: 30px; margin-right: 0px" -->
      <img src="../assets/img/mid-season.jpg" class="card-img-top" alt="...">
      <div class="card-body card-img-overlay">
        <h5 class="card-title">Women's Mid-Season</h5>
        <div class="intro--card--card-body--a-covering">
          <a [routerLink] = "['productlayout']" class="card-text">Shop now</a>
        </div>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
      </div>
    </div>

    <div class="card jumbotron intro--card--2 col-md-4" style="">
      <img src="../assets/img/hot-summer.jfif" class="card-img-top" alt="...">
      <div class="card-body card-img-overlay">
        <h5 class="card-title">Summer Romance</h5>
        <div class="intro--card--card-body--a-covering">
          <a [routerLink] = "['productlayout']" class="card-text">Shop now</a>
        </div>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
      </div>
    </div>

    <div class="card jumbotron intro--card--3 col-md-4">
      <!-- style="margin-right: 30px; margin-left: 0px" -->
      <img src="../assets/img/sunbathing.jpg" class="card-img-top" alt="...">
      <div class="card-body card-img-overlay">
        <h5 class="card-title">20% Off <br>All Accessories<br></h5>
        <div class="intro--card--card-body--a-covering">
          <a [routerLink] = "['productlayout']" class="card-text">Shop now</a>
        </div>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
      </div>
    </div>

  </div>
  <!-- card-deck -->
</div>
<!-- intro -->
 <div class="container-fluid">
   <div class="row justify-content-center categories">
       <div class="column">
       <ul>
         <li><a href="#" class="categories-best-sellers">Best Sellers</a></li>
         <li><a href="#" class="categories-new-products">New Products</a></li>
         <li><a href="#" class="categories-sale-products">Sale Products</a></li>
       </ul>
     </div>
   </div>
   <!-- /row -->
 </div>
 <div class="container-fluid">
    <div class="sellers-row-1 row">
       <div class="col">
          <div class="card">
             <img src="../assets/img/mid-season.jpg" alt="" class="card-img">
             <div class="card-body">
                <div class="card-title"><b>NEW</b></div>
                <div class="card-title">Eye Mesh Boat Shoes</div>
                <div class="card-text">$220.00</div>
             </div>
          </div>
       </div>
       <div class="col">
          <div class="card sellers-row-1-card-no-2">
             <img src="../assets/img/mid-season.jpg" alt="" class="card-img">
             <div class="card-body">
                <div class="card-title">Azure Tote</div>
                <div class="card-text">$290.00</div>
             </div>
          </div>
       </div>
       <div class="col">
          <div class="card sellers-row-1-card-no-3">
             <img src="../assets/img/mid-season.jpg" alt="" class="card-img">
             <div class="card-body">
                <div class="card-title">Blue Raincoat</div>
                <div class="card-text">ADD TO CART
                   <div class="sellers-row-1-card-no-3-icons" style="display: flex">
                   <span><a href=""><i class="fas fa-search"></i></a></span>
                   <span><a href=""><i class="far fa-heart"></i></a></span>
                   </div>
                </div>
             </div>
          </div>
       </div>
       <div class="col">
          <div class="card sellers-row-1-card-no-4">
             <img src="../assets/img/mid-season.jpg" alt="" class="card-img">
          </div>
       </div>
       <div class="col">
          <div class="card sellers-row-1-card-no-5">
             <img src="../assets/img/mid-season.jpg" alt="" class="card-img">
          </div>
       </div>
    </div>
    <!-- /row sellers-row-1-->
    <div class="row sellers-row-2">
       <div class="col">
          <div class="card sellers-row-2-card-no-1">
             <img src="../assets/img/hot-summer.jfif" alt="" class="card-img">
             <div class="card-body">
                <div class="card-title"><b>HOT</b></div>
                <div class="card-title">Tailored indigo jumpsuit</div>
                <div class="card-text">$128.00 <span style="color:grey; margin-left: 10px;"><b>$165.00</b></span></div>
             </div>
          </div>
       </div>
        <div class="col">
          <div class="card sellers-row-2-card-no-2">
             <img src="../assets/img/hot-summer.jfif" alt="" class="card-img">
             <div class="card-body">
                <div class="card-title"></div>
                <div class="card-text"></div>
             </div>
          </div>
       </div>
        <div class="col">
          <div class="card sellers-row-2-card-no-3">
             <img src="../assets/img/hot-summer.jfif" alt="" class="card-img">
             <div class="card-body">
                <div class="card-title"></div>
                <div class="card-text"></div>
             </div>
          </div>
       </div>
        <div class="col">
          <div class="card sellers-row-2-card-no-4">
             <img src="../assets/img/hot-summer.jfif" alt="" class="card-img">
             <div class="card-body">
                <div class="card-title"></div>
                <div class="card-text"></div>
             </div>
          </div>
       </div>
        <div class="col">
          <div class="card sellers-row-2-card-no-5">
             <img src="../assets/img/hot-summer.jfif" alt="" class="card-img">
             <div class="card-body">
                <div class="card-title"></div>
                <div class="card-text"></div>
             </div>
          </div>
       </div>
    </div>
    <!-- sellers-row-2 -->
 </div>
 <!-- container-fluid -->
 <div class="container-fluid">
    <div class="row justify-content-center">
       <div class="load-more">
          <p>Load more</p>
          <a href=""><i class="fas fa-angle-double-down"></i></a>

       </div>
    </div>
 </div>
 <div class="container-fluid other-options">

       <div class="sportswear text-center">
          <p>Men's sportswear</p>
          <div class="read-more-cover">
             <a href="">Read more</a>
          </div>
       </div>
       <div class="find-your-fit text-center">
          <p>Find Your Fit</p>
          <div class="read-more-cover">
             <a href="">Read more</a>
          </div>
       </div>
 </div>
 <!-- other options -->
 <div class="container footer">
    <div class="row">
    <!-- <div class="col-6"> -->
    <div class="col--1 col-md-3 col-sm-6 footer-column">
       <div class="col--1-title footer-title">Customer Service</div>
       <ul>
          <li>Phone: +866.597.2742</li>
          <li>Live Chats</li>
          <li>About us</li>
          <li>Terms & Conditions</li>
       </ul>
    </div>
    <!-- col--1 -->
    <div class="col--2 col-md-3 col-sm-6 footer-column">
       <div class="col--2-title footer-title">Company</div>
       <ul>
          <li>What we do</li>
          <li>Available Services</li>
          <li>Latest Posts</li>
          <li>FAQs</li>
       </ul>
    </div>
    <div class="col-md-6 col--3 footer-column">
       <div class="col--3-title footer-title">Our Newsletter</div>
       <div class="col--3-description mb-3">Join our list and get 15% off your first purchase!</div>
       <div class="form-group">
          <!-- <label for="email">Enter your email address</label> -->
          <input type="text" class="form-control" id = "email" name="email" placeholder="Email address">
       </div>
       <div class="footer-note">Don't worry we won't spam</div>
    </div>
    <!-- col--3 -->
    </div>
    <!-- row -->
 </div>
 <!-- footer -->
