<div class="footer container">

  <div class="social">
    <i class="fab fa-twitter"></i>
    <i class="fab ml-4 fa-facebook-square"></i>
    <i class="fab ml-4 fa-instagram-square"></i>
    <i class="fab ml-4 fa-pinterest-p"></i>
  </div>
  <!-- social -->
  <div class="policy">
    <ul>
      <li><a href="#" class="mr-lg-4">Returns Policy</a></li>
      <li><a href="#" class="mr-lg-4">Privacy Policy</a></li>
      <li><a href="#" class="">Privacy Policy</a></li>
    </ul>
  </div>
  <div class="currency">
    <p class="text-muted">Currency: <a href="#">USD</a></p>
  </div>
  <div class="lang">
    <p class="text-muted">Language <a href="#">English</a></p>
  </div>
</div>
<!-- /footer -->
