<div class="header container">
  <!-- <div class="row"> -->
<div class="left-menu nav">
 <ul>
   <li class="left-menu-1"><a href="#">Home</a></li>
   <li class="left-menu-2"><a [routerLink] = "['shop']">Shop</a></li>
   <li class="left-menu-3"><a href="#">Elements</a></li>
   <li class="left-menu-4"><a href="#">Blog</a></li>
   <li class="left-menu-5"><a href="#">Page</a></li>
 </ul>
</div>
<!-- left-menu -->
<div class="logo align-self-center">
 <img src="../assets/img/logo-removebg-preview.png" alt="logo-zonex">
</div>
<div class="right-menu nav">
 <ul>
   <li class="right-menu-1"><a href="#"><img src="../assets/img/search-icon.png" alt="search"></a></li>
   <li class="right-menu-2"><a href="#"><img src="../assets/img/user-icon.png" alt="user"></a></li>
   <li class="right-menu-3"><a href="#"><img src="../assets/img/bag-icon.png" alt="bag"></a></li>
   <li class="right-menu-4"><a href="#"><img src="../assets/img/3-icon.png" alt="3-icon"></a></li>
 </ul>
</div>
</div>
